<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="net.burakince.weblogicDeploymentPlugin" version="1">
    <about>
        <name>Weblogic Deployment Plugin</name>
        <version>1.0.0</version>
        <target-go-version>17.7.0</target-go-version>
        <description>Web Application Deployer for Weblogic Servers</description>
        <vendor>
            <name>Burak İnce</name>
            <url>www.burakince.net</url>
        </vendor>
        <target-os>
            <value>No restrictions</value>
        </target-os>
    </about>
</go-plugin>